---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/source-code-pro';
---
<Layout title="狗狗图鉴">
  <main style="margin-right:30px">
    <ul role="list" class="link-card-grid">
      <Card
	    href="/dog/"
        title="返回首页"
        body=""
      />
    </ul>
  </main>
  <div style="    display: flex;justify-content: center;">
    <div class="adaptive-box">
      插画师Lili Chin笔下的192种世界名犬图鉴 他用超可爱的卡通风格突出了每种狗狗的独特外观，并标了地理位置、国家分布 。
    </div>

  </div>
  <main style="display: flex; flex-wrap: wrap;justify-content: center;">
    <div class="pattern">
      <img
        src="/dog/1.jpg"
      />
      <p style="text-align: center;margin: 0;">法国犬</p>
    </div>

    <div class="pattern">
      <img
        src="/dog/2.jpg"
      />
      <p style="text-align: center;margin: 0;">威尔士犬</p>
    </div>   
    
    <div class="pattern">
      <img
        src="/dog/3.jpg"
      />
      <p style="text-align: center;margin: 0;">加拿大犬</p>
    </div>  

    <div class="pattern">
      <img
        src="/dog/4.jpg
        "
      />
      <p style="text-align: center;margin: 0;">英国犬</p>
    </div>  

    <div class="pattern">
      <img
        src="/dog/5.jpg"
      />
      <p style="text-align: center;margin: 0;">苏格兰犬</p>
    </div>

    <div class="pattern">
      <img
        src="/dog/6.jpg"
      />
      <p style="text-align: center;margin: 0;">拉丁美洲犬</p>
    </div>

    <div class="pattern">
      <img
        src="/dog/7.jpg"
      />
      <p style="text-align: center;margin: 0;">亚洲犬</p>
    </div>

    <div class="pattern">
      <img
        src="/dog/8.jpg"
      />
      <p style="text-align: center;margin: 0;">俄罗斯犬</p>
    </div>

    <div class="pattern">
      <img
        src="/dog/9.jpg"
      />
      <p style="text-align: center;margin: 0;">美国犬</p>
    </div>

  </main>
</Layout>

<style>


    .adaptive-box {
      background-color: #ffffff;
      border: 2px solid #cccccc;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 80%;
      text-align: center;
      font-size: 1.2em;
    }
  .card-margin {
    margin-left: 20px;
  }
  .link-card-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  p{
	font-family: "Source Code Pro";
  }
  .pattern {
    margin-left: 5%; 
    margin-top: 2%;
    width: 200px;
  }
  img{
    width: 230px; 
    margin-right: 10px;
    height: 210px;
  }
</style>
