---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/source-code-pro';
---

<Layout title="狗狗关爱网">
  <main class="page-background">
    <div class="adaptive-box">
      let's 狗
    </div>

    <svg width="0" height="0">
      <clipPath id="cloudClipPath" clipPathUnits="objectBoundingBox">
        <path d="M0.25,0.75 C0.1,0.75 0,0.6 0,0.5 C0,0.4 0.1,0.25 0.25,0.25 C0.3,0.25 0.35,0.2 0.4,0.15 C0.45,0.1 0.55,0.1 0.6,0.15 C0.65,0.2 0.7,0.25 0.75,0.25 C0.9,0.25 1,0.4 1,0.5 C1,0.6 0.9,0.75 0.75,0.75 Z"></path>
      </clipPath>
    </svg>

    <div class="grid-container">
      <div class="grid-item">
        <a href="/dog/doglist">汪汪队开大会</a>
      </div>
      <div class="grid-item">
        <a href="/dog/about">你就宠Ta吧</a>
      </div>
      <div class="grid-item">
        <a href="/dog/code">铲屎官须知</a>
      </div>
      <div class="grid-item">
        <a href="/dog/video">I’m your puppy</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  .adaptive-box {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    padding: 4rem 0;
    z-index: 1000;
  }

  .page-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/dog/123.jpg'); /* 请将此处替换为你的背景图路径 */
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /* 重置默认样式 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 70vw;
    height: 70vw;
    max-width: 600px;
    /* max-height: 600px; */
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    clip-path: url(#cloudClipPath);
    position: relative;
    text-align: center;
    transition: background-color 0.3s;
  }

  .grid-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
  }

  .grid-item:hover {
    background-color: #e0e0e0;
  }
</style>
